<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div id="bodyI">
    <h1 id="headerI"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/appointments">Appointments</a>
    <a href="/doctors">Doctors</a>
    <% if (user) { %>
      <a href="/logout">Log out</a>
    <% } else { %>    
      <a href="/auth/google">Log in</a>
      <% } %>
  </body>
</html>
