<h1>Edit Todo Form</h1>
    <form action="/feedbacks/<%=feedback._id%>?_method=PUT" method="PUT"> 
        <input type="content" name="feedback" value="<%=feedback.feedback%>">
        <button type="submit">Save Edit</button>
    </form>