<!<%- include('../partials/header') %>
    <div id="editForm">
        <h1 class="titles">Edit Todo Form</h1>
        <form id="edit-form" action="/appointments/<%=appointment._id%>?_method=PUT" method="POST">
            <!-- action="/appointments" -->
            <label class="editTags">Location: </label>
            <select class="options" name="location">
                <option value="Los Angeles">Los Angeles</option>
                <option value="Palmdale">Palmdale</option>
                <option value="Lancaster">Lancaster</option>
                <option value="San Fernando">San Fernando</option>
            </select><br><br>
            <!--  -->
            <label class="editTags">Doctor: </label>
            <select class="options" name="doctor">
                <option value="Stephen Wright">Stephen Wright</option>
                <option value="Daisy Sing">Daisy Sing</option>
                <option value="Charles Patterson">Charles Patterson</option>
                <option value="Kevin Alvarez">Kevin Alvarez</option>
            </select><br><br>
            <!--  -->
            <label class="editTags">Date:</label>
            <input required class="options" type="date" name="date"><br><br>
            <label class="editTags">Time: </label>
            <select class="options" name="time">
                <option value="11:30am">11:30am</option>
                <option value="12:30pm">12:30pm</option>
                <option value="1:30pm">1:30pm</option>
                <option value="2:30pm">2:30pm</option>
            </select><br><br>
            <input type="submit" value="Save Changes" id="editButton">
        </form>
    </div>
    <%- include('../partials/footer') %>