
    <h1>Create Appointment</h1>
    <form id="create-appts-form" action="/appointments" method="POST">
        <!-- action="/appointments" -->
        <label>Location: </label>
        <select name="location">
            <option value="LA">Los Angeles</option>
            <option value="Palmdale">Palmdale</option>
            <option value="Lancaster">Lancaster</option>
            <option value="SanFer">San Fernando</option>
        </select><br><br>
        <!--  -->
        <label>Doctor: </label>
        <select name="doctor">
            <option value="Stephen">Stephen Wright</option>
            <option value="Daisy">Daisy Sing</option>
            <option value="Charles">Charles Patterson</option>
            <option value="Kevin">Kevin Alvarez</option>
        </select><br><br>
        <!--  -->
        <label>Date:</label>
        <input type="date" name="appt date"><br><br>
        <label>Time: </label>
        <select name="time">
            <option value="11">11:30am</option>
            <option value="12">12:30pm</option>
            <option value="1">1:30pm</option>
            <option value="2">2:30pm</option>
        </select><br><br>
    <input type="submit" value="add to appts">
    </form>
