<!<%- include('../partials/header') %>
<h1 class="docNames">Doctor Charles Patterson</h1>
<h2 class="docSpec">Medical Specialty: Pediatrics</h2>
<img src="https://media.istockphoto.com/id/1203995945/photo/portrait-of-mature-male-doctor-wearing-white-coat-standing-in-hospital-corridor.jpg?s=612x612&w=0&k=20&c=Hk-dqLqHXyYa4aTqjieXNk9-HQSE8WEYUAjA1sXsy_s=" class="docPic">

<%- include('../partials/footer') %>