<!<%- include('../partials/header') %>
<h1>Doctor Daisy Sing</h1>
<h2>Medical Specialty: Gynecology</h2>
<img src="https://t4.ftcdn.net/jpg/02/20/30/45/360_F_220304581_3BRbk3UhoYrcVlt72fdBcVRHBtHAKuvD.jpg">

