<!<%- include('../partials/header') %>
    <div id="doctors">
        <h1>Meet our doctors: </h1>
        <tdoc>Stephen Wright </tdoc><a href="/doctors/stephen">Details</a><br><br>
        <tdoc>Daisy Sing </tdoc><a href="/doctors/daisy">Details</a><br><br>
        <tdoc>Charles Patterson </tdoc><a href="/doctors/charles">Details</a><br><br>
        <tddoc>Kevin Alvarez </tdoc><a href="/doctors/kevin">Details</a><br><br>
    </div>
    <img src="https://www.optimahealth.com/_assets/images/group-of-doctors-card.jpg" id="allDocs">
    <%- include('../partials/footer') %>