<!<%- include('../partials/header') %>
    <div>Meet our doctors: </div>
    <tdoc>Stephen Wright</tdoc><a href="/doctors/stephen">Details</a><br>
    <tdoc>Daisy Sing </tdoc><a href="/doctors/daisy">Details</a><br>
    <tdoc>Charles Patterson</tdoc><a href="/doctors/charles">Details</a><br>
    <tddoc>Kevin Alvarez</tdoc><a href="/doctors/kevin">Details</a><br>

        <%- include('../partials/footer') %>