<!<%- include('../partials/header') %>
<h1>Doctor Kevin Alvarez </h1>
<h2>Medical Specialty: General Internal Medicine </h2>
<img src="https://media.istockphoto.com/id/600411916/photo/hispanic-male-doctor-or-nurse-in-front-of-hospital-building.jpg?s=170667a&w=0&k=20&c=5ZHSn3JaazFLmGapFjd8Jsvi-aU8w-4sD2g6jYHsuWs=">

<%- include('../partials/footer') %>