<!<%- include('../partials/header') %>
<h1>Doctor Kevin Stephen Wright</h1>
<h2>Medical Specialty: Physical Therapy </h2>
<img src="https://www.healthleadersmedia.com/sites/hlmp/files/files/portrait-of-serious-handsome-male-doctor-with-crossed-hands-on-gray-picture-id802407384.jpg">


<%- include('../partials/footer') %>